span {
    font-size:2em;
    
}
p {
    font-size:2em;
    font-family: garamond;
}
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('https://images7.alphacoders.com/423/thumb-1920-423137.jpg');
	font-family: Vollkorn SC;
	color: white;
	font-size: 30px;
}